.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.logo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 240px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: lightgray;
    padding: 40px;
    border-radius: 15px;
    text-align: center;
}

.form-field {
    margin-bottom: 20px;
}

.input {
    border: 1px solid gray;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    width: 400px;
    font-size: 18px;
}

.submit-button {
    align-self: center;
    margin-top: 10px;
    background: #ff7300;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 15px;
    width: 400px;
    font-size: 18px;
}
.logo img {
    width:150px;

}
.input-error {
    border-color: red;
}

.input-error:focus {
    box-shadow: 0 0 5px red;
}
.error-tooltip {
    position: relative;
}

.error-tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 5px;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.error-tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: red transparent transparent transparent;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.error-tooltip.error-visible::before,
.error-tooltip.error-visible::after {
    visibility: visible;
    opacity: 1;
}

.error-tooltip.error-visible::after {
    bottom: -10px;
}
